@import "~normalize.css";

@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}
html {
  color: black;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.article {
  min-width: 100%;
  padding: 6px;
  z-index: 1;
  &--1 {
    background-image: url("../assets/img/podłoga.jpg");
    background-position: 0 30%;
    background-size: cover;
    height: 75vh;
    z-index: 1;
  }
  &__content {
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    min-height: 60%;
    opacity: 0.6;
    padding: 6px;
    max-width: 50%;
  }
  &__dot {
    background:red;
    border-radius: 50%;
    margin:12px;
    width:10px;
    height: 10px;
  }
  &__header {
    align-items: center;
    color: $mainColor;
    display: flex;
    font-size: 50px;
    height: 100%;
    letter-spacing: 2px;
    font-weight: 700;
    justify-content: center;
    margin: 0;
    position:relative;
    text-align: center;
    top:7vh;
    &::before {
      content: url(../assets/icons/left-arrow.svg);
      width: 100px;
    }
    &::after {
      content: url(../assets/icons/right-arrow.svg);
      width: 100px;
    }
  }
  &__sign {
    margin: 6px;
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 26px;
  }
}

.form {
  background-color: red;
  bottom: 5%;
  color: $mainColor;
  position: fixed;
  right: 5%;
  z-index: 3;
}

.front {
  position: relative;
  top:15vh;
}

.header {
  display: grid;
  position:fixed;
  grid-template-columns: 100px 1fr;
  background: rgba(0,0,0,0.5);
  width: 100vw;
  z-index: 5;
  &__logo {
    border-radius:50%;
    margin: 6px;
    width: 100px;
  }
  &__name {
    font-size: 30px;
    margin:0;
  }
  &__tools {
    align-items: center;
    background:$additionalColor;
    color:white;
    display: flex;
    justify-content: center;
  }
}

.main {
  position: relative;
}
.nav {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  &__hamburger {
    display: none;
  }
  &__link {
    text-decoration: none;
  }
}

.special-color {
  color: $mainColor;
}
