@import "~normalize.css";

@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Mrs+Saint+Delafield&display=swap");

a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}
html {
  color: black;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.article {
  z-index: 1;
  &--1 {
    background-image: url("../assets/img/podłoga.jpg");
    background-position: 0 30%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 75vh;
    z-index: 1;
  }
  &__content {
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    min-height: 60%;
    opacity: 0.6;
    padding: 6px;
    max-width: 50%;
  }
  &__dot {
    background:red;
    border-radius: 50%;
    width:6px;
    height: 6px;
    position:absolute;
    &--1 {
      left:34vw;
    }
    &--2 {
      left:35vw;
    }
    &--3 {
      left:36vw;
    }
    
  }
  &__effect {
    align-items: center;
    background: $additionalColor;
    display:flex;
    height: 9vh;
    opacity:0.8;
    position:relative;
  }
  &__header {
    color: $mainColor;
    display: flex;
    font-size: 70px;
    left: 10%;
    letter-spacing: 2px;
    font-weight: 700;
    justify-content: center;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 50vw;
    &::before {
      content: url(../assets/icons/left-arrow.svg);
      width: 200px;
      margin:50px;
    }
    &::after {
      content: url(../assets/icons/right-arrow.svg);
      margin:50px;
      width: 200px;
    }
  }
  &__invitation {
    background-image: url("../assets/icons/tymon.jpg");
    background-position: left top;
    border: 2px solid $mainColor;
    color: white;
    width: 30vw;
    height: 64vh;
    padding: 16px;
    position: absolute;
    right: 0%;
    top: 20%;
    z-index: 2;
  }
  &__sign {
    margin: 6px;
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 26px;
  }
}

.form {
  background-color: red;
  bottom: 5%;
  color: $mainColor;
  position: fixed;
  right: 5%;
  z-index: 3;
}

.front {
  min-height: 80vh;
  position: relative;
  margin-bottom: 18vh;
  top:15vh;
}

.header {
  display: grid;
  position:fixed;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 50px;
  width: 100vw;
  z-index: 5;
  &__logo {
    width: 250px;
    height: 150px;
    grid-area: 1/1/3/2;
  }
  &__name {
    font-size: 30px;
    margin:0;
  }
  &__tools {
    align-items: center;
    background:$additionalColor;
    color:white;
    display: flex;
    justify-content: center;
  }
}

.main {
  position: relative;
}
.nav {
  background:black;
  align-items: center;
  border-top: 1px solid $mainColor;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  &__hamburger {
    display: none;
  }
  &__link {
    text-decoration: none;
  }
}

.special-color {
  color: $mainColor;
}
